@mixin testBorder($clr) {
    border: 1px solid $clr;
}

:root {
    --brands__background-color: #ebebeb;
    --brands__cards_border_color: #c4c4c4;
}

.brands {
    // setting
    max-width: 1440px;
    min-width: 320px;
    width: 100vw;
    background-color: var(--brands__background-color);
    // position
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.brands__frame {
    // setting
    width: 1110px;
    height: 135px;
    margin: 90px 0;
    // position
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-left: 0;
    gap: 30px;
    // @include testBorder(red);
}
.brands__frame__card {
    // setting
    width: 255px;
    height: 135px;
    // position
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--brands__cards_border_color);
}
.brands__frame__card img {
    scale: 100%;
    // @include testBorder(blue);
}
.brands__img-wrong {   // smiles for the designer
    position: relative;
    bottom: 6px;
}
@media (max-width: 1109px) {     // from 768px
    .brands {
        // // setting
        // max-width: 1440px;
        // min-width: 320px;
        // width: 100vw;
        // background-color: var(--brands__background-color);
        // // position
        // display: flex;
        // justify-content: center;
        // overflow: hidden;
    }
    .brands__frame {
        // setting
        width: 690px;
        height: 80px;
        margin: 60px 0;
        // position
        // display: flex;
        // flex-wrap: wrap;
        // justify-content: space-between;
        // align-content: space-between;
        // margin-left: 0;
        // gap: 30px;
    }
    .brands__frame__card {
        // setting
        width: 150px;
        height: 80px;
        // position
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // border: 1px solid var(--brands__cards_border_color);
    }
    .brands__frame__card img {
        scale: 60%;
    }
    .brands__img-wrong {   // smiles for the designer
        position: relative;
        bottom: 5px;
    }
}
@media (max-width: 689px) {     // from 576px
    .brands {
        // // setting
        // max-width: 1440px;
        // min-width: 320px;
        // width: 100vw;
        // background-color: var(--brands__background-color);
        // // position
        // display: flex;
        // justify-content: center;
        // overflow: hidden;
    }
    .brands__frame {
        // setting
        width: 510px;
        height: 284px;
        // margin: 60px 0;
        // position
        // display: flex;
        // flex-wrap: wrap;
        // justify-content: space-between;
        // align-content: space-between;
        // margin-left: 0;
        // gap: 30px;
    }
    .brands__frame__card {
        // setting
        width: 240px;
        height: 127px;
        // position
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // border: 1px solid var(--brands__cards_border_color);
    }
    .brands__frame__card img {
        scale: 95%;
    }
    .brands__img-wrong {   // smiles for the designer
        position: relative;
        bottom: 6px;
    }
}
@media (max-width: 509px) {     // from 320px
    .brands {
        // // setting
        // max-width: 1440px;
        // min-width: 320px;
        // width: 100vw;
        // background-color: var(--brands__background-color);
        // // position
        // display: flex;
        justify-content: start;
        // overflow: hidden;
    }
    .brands__frame {
        // setting
        width: 690px;
        height: 80px;
        // margin: 60px 0;
        // position
        // display: flex;
        flex-wrap: nowrap;
        // justify-content: space-between;
        // align-content: space-between;
        margin-left: 15px;
        // gap: 30px;
    }
    .brands__frame__card {
        // setting
        width: 150px;
        height: 80px;
        // position
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // border: 1px solid var(--brands__cards_border_color);
    }
    .brands__frame__card img {
        scale: 60%;
    }
    .brands__img-wrong {   // smiles for the designer
        position: relative;
        bottom: 5px;
    }
}